<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todos</title>
    <link rel="stylesheet" href="/static/css/todo.css">
</head>
<body>

    <div class="container">

        <div class="topbar">
            <div>
                <h1>My Todos</h1>
                <p>Manage your tasks</p>
            </div>

            <button id="backBtn">Dashboard</button>
            <button id="logoutBtn">Logout</button>
        </div>

        <div class="todo-card">

            <h2>Add New Task</h2>

            <form id="todoForm">

                <input
                    type="text"
                    id="work"
                    placeholder="Enter your task"
                    required
                >

                <label>
                    <input
                        type="checkbox"
                        id="completed"
                    >
                    Completed
                </label>

                <button type="submit">
                    Add Todo
                </button>

            </form>

            <p id="message"></p>

        </div>

        <div class="tasks-section">

            <h2>My Tasks</h2>

            <div id="todoList"></div>

        </div>

    </div>

    <script src="/static/js/todo.js"></script>

</body>
</html>